.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rprofile

# ignore large data
data_raw/*.zip
data_raw/*geodatabase/
data_raw/*h5
data_out/tahoe*
data_raw/lt*
data_raw/phalzer*
data_raw/2023_snowtiles_demo*
data_raw/2024_snowtiles_demo*
data_raw/Amtrak_*
data_raw/*parquet
data_raw/*tif
data_raw/*rds
data_raw/Full_Sp_Scores.csv
slides/*
/slides/
data_raw/*gpkg
**/*.html
**/*js
**/*css
docs/*.html
docs/teaching_R_01_files/
*duckdb
