.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store


# ignore large data
data_raw/*.zip
data_raw/*geodatabase/
data_raw/*h5
data_out/tahoe*
data_raw/lt*
data_raw/phalzer*
data_raw/2023_snowtiles_demo*
